<h1>Welcome to KnOverflow</h1>
<h3>these are all the questions</h3>
<br />
<ul>
 <% @questions.each do |question| %>
 <li><%= link_to question.title, question_path(question) %></a>&nbsp;<% if question.user == current_user %><%= button_to "delete", question_path(question), {method: :delete} %><% end %></li>
 <% end %>
 </ul>
