<div class='comments_display'>
  <p>Comments:</p>
  <ul>
  <% commentable.comments.each do |comment| %>
    <li>
      <%= comment.content %>&nbsp;
        <span style="float: right;">
          <% if comment.user == current_user %>
            <%= button_to "delete", comment_path(comment), {method: :delete} %>
            <%= button_to "edit", edit_comment_path(comment), {method: :get} %>
          <% end %>
        </span>
    </li>
  <% end %>
</ul>
</div>
