<div class='comments_display'>
  <li><h5><%= answer.content %></h5></li>
  <br/>
  <p>Comments:</p>
  <hr />
  <% answer.comments.all.each do |comment| %>
    <p><%= comment.content %></p>
    <hr />
  <% end %>
  <%= link_to "Make a comment!", new_answer_comment_path(answer) %>
</div>


  <p>Comments:</p>
  <ul>
    <% @question.comments.all.each do |comment| %>
    <li><%= comment.content%></li>
    <% end %>
  </ul>
