<div class='answer_display'>
  <li><h5><%= answer.content %></h5></li>
  <hr />
  <%= render partial: '/comments/comments', locals: {commentable: answer } %>
  <br />
  <span class='click_new_comment'><%= link_to 'create comment', new_answer_comment_path(answer), remote: true %>
  <div class='create_comment'></div>  
</div>
