<div class='answer_display'>
  <li><h5><%= answer.content %></h5></li>
  <hr />
  <%= render partial: '/comments/comments', locals: {commentable: answer } %>
  <br />
  <%#= render partial: '/comments/form', locals: {commentable: answer, comment: answer.comments.build} %>

</div>
