/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */


 #brand a{
  color: orange !important;
  font-size: 20px;
}

ul li a {
  color: #3366FF !important;
  font-size: 17px;
}

ul li div {
  background-color: #3366FF !important;
}

#nav_user a{
  color: #CC6600 !important;
  padding-left: 0px;
  margin-right: 30px;
}